<div class="container">
  <h4 class="text-center">商品一覧【管理者専用】</h4><%= link_to '商品を新規登録する', new_admin_item_path, class: 'btn btn-primary' %>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="col-md-1">ジャンル</th>
            <th class="col-md-2">商品画像</th>
            <th class="col-md-2">商品名</th>
            <th class="col-md-3">商品説明文</th>
            <th class="col-md-1">価格</th>
            <th class="col-md-1">在庫状況</th>
            <th class="col-md-1"></th>
            <th class="col-md-1"></th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.genre.name if item.genre.present? %></td>
              <td>
                <% if item.image.attached? %>
                 <%= link_to image_tag(item.image, size: "150x150"), admin_item_path(item) %>
                <% else %>
                 <%= link_to image_tag('noimage_cake', size: "150x150"), admin_item_path(item) %>
                <% end %>
　　　　　　　</td>
　　　　　　　<td><%= item.name %></td>
              <td><%= item.introduction %></td>
              <td><%= number_with_delimiter((item.price * 1.1).round, delimiter: ',') %>円(税込)</td>
              <td><%= item.is_active ? "販売中" : "売り切れ" %></td>
              <td><%= link_to "編集", edit_admin_item_path(item), class: "btn btn-primary" %></td>
              <td><%= button_to "削除", admin_item_path(item), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
